div{
    display: block;
}

.index-hero_background-container{
    height: auto !important;
}

.index-hero_background-container{
    left: 0;
    right: 0;
}
.index-hero_background-container {
    position: absolute;
    top: -8.75rem;
    bottom: 0;
    z-index: 1;
}

parallax-container{
    overflow: hidden;
}

*, *:before , *:after{
    box-sizing: hidden;
}

.imageZoomOutSlow.go{
    animation-name: imageZoomOutSlow;
}

.parallax-container .parallax{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.imageZoomOutSlow.go{
    transform: scale(1.05);
}

.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
}

div{
    display: block;
}

.parallax-container .parallax img{
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.index-hero_background-container img{
    object-fit: cover;
}

img {
    border-style: none;
}

